[Desktop Entry]
Type=Application
Name=Drag Comic Scripts Here
Comment=Drag and drop comic scripts to convert using Pandoc
Exec=./the-shortcut-you-chose.sh %F
Icon=utilities-terminal
Terminal=true